body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: auto;
}
nav {
    background-color: black;
}
.page-footer {
    background-color: black;
}
.waves-effect {
    background-color: green;
}
.card-image {
    border-style: solid;
    border-color: white;
}
.brand-logo {
    color: black;
}
main {
    flex: 1 0 auto;
  }
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.form-control {
    color: black;
}