body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
nav {
    background-color: black;
}
.page-footer {
    background-color: black;
}
.waves-effect {
    background-color: green;
}
.card-image {
    border-style: solid;
    border-color: white;
}
.brand-logo {
    color: black;
}