<!DOCTYPE html>
<html>
    <head>
        <title>historyTemp</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <!--my Stylesheet-->
        <link href="css/myStylesheet.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <header>
            <!--Logo-->
            <a href="#" class="brand-logo center"><img src="assets/Logo.jpg"/></a>
            <!--Nav START-->
            <nav>
                <div class="nav-wrapper container">
                    <ul id="nav-mobile" class="center hide-on-med-and-down">
                        <li><a class="dropdown-button" href="#" data-activates="dropdown1">History and Heritage<i class="material-icons right">arrow_drop_down</i></a></li>
                            <!-- Dropdown Structure -->
                            <ul id="dropdown1" class="dropdown-content">
                                <li><a href="Mining.html">Mining</a></li>
                                <li><a href="AirForce.html">Air Force</a></li>
                                <li><a href="CastleRing.html">Castle Ring</a></li>
                                <li><a href="Museum.html">Museum of Cannock</a></li>
                            </ul>
                        <li><a class="dropdown-button" href="#" data-activates="dropdown2">Areas of Interest<i class="material-icons right">arrow_drop_down</i></a></li>
                            <!-- Dropdown Structure -->
                            <ul id="dropdown2" class="dropdown-content">
                                <li><a href="SevenSprings.html">Seven Springs</a></li>
                                <li><a href="GermanCem.html">German Cemetery</a></li>
                                <li><a href="ClayPit.html">Walk Mill Clay Pit</a></li>
                                <li><a href="HednesfordNature.html">Hednesford Hills Nature Reserves</a></li>
                            </ul>
                        <li><a class="dropdown-button" href="#" data-activates="dropdown3">Activities<i class="material-icons right">arrow_drop_down</i></a></li>
                            <!-- Dropdown Structure -->
                            <ul id="dropdown3" class="dropdown-content">
                                <li><a href="goApe.html">Go Ape</a></li>
                                <li><a href="Shugborough.html">Shugborough Estate</a></li>
                                <li><a href="Trekking.html">Cannock Chase Trekking Centre</a></li>
                                <li><a href="Wickers.html">Wickers World Ballon Flights</a></li>
                            </ul>
                    </ul>
                </div>
            </nav>
            <!--Nav END-->
        </header>
        <main>
        <!--Section Title-->
            <a class="brand-logo center"><h4>Title</h4></a>
        <!--Image-->
            <div class="row container">
                <div class="col s3 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/Img1.jpg">
                        </div>
                    </div>
                </div>
                <!--Main text-->
                <div class="row">
                    <div class="col s8">
                        <div class="card">
                            <div class="card-content black-text">
                                <span class="card-title">Introduction</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et mattis justo, sit amet varius lacus. Vestibulum non congue justo. Vivamus consequat at justo ac aliquam. Cras pellentesque varius nisi eget feugiat. Nulla facilisi. Ut pharetra non mauris sed rhoncus. In porttitor gravida ante, eu vestibulum purus euismod a. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi vel tempus leo. Aliquam sed eros sit amet arcu vehicula egestas. Curabitur tristique eros in magna malesuada, non mollis orci aliquet. Nullam facilisis varius imperdiet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--Second Text-->
            
            <div class="row container">
                    <div class="col s8">
                        <div class="card">
                            <div class="card-content black-text">
                                <span class="card-title">Introduction</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et mattis justo, sit amet varius lacus. Vestibulum non congue justo. Vivamus consequat at justo ac aliquam. Cras pellentesque varius nisi eget feugiat. Nulla facilisi. Ut pharetra non mauris sed rhoncus. In porttitor gravida ante, eu vestibulum purus euismod a. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi vel tempus leo. Aliquam sed eros sit amet arcu vehicula egestas. Curabitur tristique eros in magna malesuada, non mollis orci aliquet. Nullam facilisis varius imperdiet.</p>
                            </div>
                        </div>
                    </div>
            <!--Image-->
                <div class="col s3 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/Img1.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <!--Contact Pop-Up Button-->
                    <div class="col l3">
                        <a class="waves-effect waves-light btn-large">Contact</a>
                    </div>
                    <!--External Link to LinkedIn-->
                    <div class="col l3">
                        <a class="waves-effect waves-light btn-large">LinkedIn</a>
                    </div>
                    <!--External Link to Twitter-->
                    <div class="col l3">
                        <a class="waves-effect waves-light btn-large">Twitter</a>
                    </div>
                    <!--External Link to Google+-->
                    <div class="col l3">
                        <a class="waves-effect waves-light btn-large">Google+</a>
                    </div>
                </div>
            </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
    </body>
</html>